:root {
  //PRIMARY
  --softorange: hsl(35, 77%, 62%);
  --softred: hsl(5, 85%, 63%);

  //NEUTRAL
  --offwhite: hsl(36, 100%, 99%);
  --grayblue: hsl(233, 8%, 79%);
  --darkgrayblue: hsl(236, 13%, 42%);
  --verydarkblue: hsl(240, 100%, 5%);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  height: 100vh;
}

//SECTION GENERALS
.container {
  max-width: 120rem;
  margin: 5rem auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.7fr 0.7fr 0.5fr;
  gap: 2rem;
}

.primary-heading {
  font-size: 6rem;
  font-weight: 900;
}

.secondary-heading {
  font-size: 3.6rem;
  color: var(--softorange);
  margin-bottom: 3rem;
}

.tertiary-heading {
  font-size: 2rem;
  color: var(--offwhite);
  font-weight: 600;
  margin-bottom: 1rem;
}

.fourth-heading {
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: none;
  padding: 1.3rem 2.4rem;
  background-color: var(--softred);
  font-weight: 800;
  margin-top: 3rem;
  cursor: pointer;
}

//SECTION NAV
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8rem;
  &__list {
    display: flex;
    gap: 3rem;
    list-style: none;

    &-link:link,
    &-link:visited {
      text-decoration: none;
    }
  }
}

.header-img {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  &--img {
    object-fit: cover;
    width: 100%;
  }
}

.news {
  grid-row: 1 / 3;
  background-color: var(--verydarkblue);
  padding: 3rem 2rem;
  &__list {
    color: var(--grayblue);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    &-item {
      border-bottom: 1px solid var(--darkgrayblue);
      padding-bottom: 4rem;
      &:last-child {
        border-bottom: 0;
      }
    }
    &-description {
      line-height: 1.6;
    }
  }
}

.desc {
  &-description {
    line-height: 1.6;
    color: var(--darkgrayblue);
  }
}
